body {
    height: 100%;
    
}

#camada {
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: grey;
	z-index: 5;
}

/*

BARRA DE NAVEGAÇÃO

*/

#navbar {
	/* display, posição, posicionamento */
    display: table;
	top: 0;
	padding: 0;
    z-index: 0;
    /* largura */
    width: 100%;
    /* conteúdo */
    overflow: auto;
    text-align: center;
   	/* cor */
    background-color: green;
    color: white;
    border: 1px solid pink;

}

#iconeMenu {
    display: table-cell;
    background-color: green;
    padding: 3px;
    border-radius: 2px;
    z-index: 0;
    border: 1px brown dashed;
    /* Impede ícone de ficar com width grande */
    width: 0;
}

.hamburger {
	/* Altura e largura das barras */
    width: 35px;
    height: 5px;
    /* Cor das barras */
    background-color: white;
    /* Margem entre as barras */
    margin: 6px 0;
}

@keyframes hoverIconeMenu {
	from {background-color: green;}
	to {background-color: white;}
}

@keyframes hoverHamburger {
	from {background-color: white;}
	to {background-color: green;}
}


#iconeMenu:hover {
	cursor: pointer;
	animation-name: hoverIconeMenu;
	animation-duration: 0.3s;
	background-color: white;
}

#iconeMenu:hover .hamburger {
	animation-name: hoverHamburger;
	animation-duration: 0.3s;
	background-color: green;
}


#nomeDaSala {
	display: table-cell;
	vertical-align: middle;
	border: 1px white dashed;
}

#nomeDaSala:hover {
	cursor: pointer;
	text-decoration: underline;
}


/* FIM DA ESTILIZAÇÃO DA BARRA DE NAVEGAÇÃO */




/*

MENU LATERAL

*/


 /* The side navigation menu */
.navlateral {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #006903; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.navlateral a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.navlateral a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.navlateral .botaoFechar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#listaDeSalas {
    background-color: white;
    color: #555555;
}






/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 


/* FIM DA ESTILIZAÇÃO DO MENU LATERAL  */




/* 
	INTERFACE DO CHAT,
	LISTA DE MENSAGENS,
	FORMULÁRIO DE ENVIO DE MENSAGEM
*/



/* interfaceChat inclui lista de mensagens e formulário para enviar mensagem */
#interfaceChat {
    height: 100vh;
    width: 100%;
    border: 1px dashed black;
    padding: 0;
    margin: 0 auto;
    position: relative;

}

#chat {

    border: 1px dashed red;

    /* Posiciona div na parte inferior do elemento pai (#interfaceChat) */
    position: absolute;
    bottom: 0;

    /* Estica para ocupar a largura (width) do elemento pai (#interfaceChat) */
    left: 0;
    right: 0;

    max-height: 100%;

    /* Não faço ideia de como a estilização abaixo funciona */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: stretch;
}

#listaMensagens {

    border: 1px dashed blue;

    /*width: 100%;*/
    position: relative; 
    overflow-y: auto;
}

#inputMensagem {
    float: left;
    border: 1px dashed green;
    padding: 0;
}

#mensagem {
    border: 1px dashed purple;
    width: 100%;
}

#botaoEnviarMensagem {
    padding: 0;
}

#botao {
    display: inline-block;
}


.caixaMensagemContainer {

    border: 1px dashed brown;
    overflow:auto;

    position: relative;
    bottom: 0;

    width: 100%;

    display: block;

    padding: 5px;
    margin-bottom: 5px;
}


.caixaMensagemUsuario {

    border-radius: 5px;
    background-color: grey;
    
    width: 50%;
    float: right;

    padding: 15px;
}

.caixaMensagemOutroUsuario {

    border-radius: 5px;
    background-color: green;
    
    width: 50%;
    float: left;

    padding: 15px;
}

.conteudoMensagem {
    color: white;
    font-size: medium;
    display: block;
}

.usuarioMensagem {
    color: white;
    font-size: small;
}

.dataMensagem {
    color: white;
    font-size: x-small;
}
